{% extends 'layout.twig' %}

{% block body %}
<div>
	<div class="panel">
		<div>
			<button type="button" id="btnAgregarEquipo" class="btn btn-success btn-lg" data-toggle="modal" href="#modalAgregarEquipo">Agregar Equipo</button>
		</div>
	</div>
	{% if app.session.has('flash_message') %}
		<div class="alert alert-success alert-block">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>	
			<strong>{{ app.session.get('flash_message') }}</strong>
		</div>
	{% endif %}
	{% for equipo in equipos %}
		<div>
			<div class="media">
				<div class="media-left media-top">
					<img src="images/{{equipo.nombre}}/{{equipo.escudo}}" class="media-object" alt="Logo No Disponible">
				</div>
				<div class="media-body" >
					<h4 class="media-heading">{{equipo.nombre}}</h4>
					{% for jugador in equipo.plantel %}
						<div class="media">
							<div class="media-left media-middle">
								<img src="images/{{equipo.nombre}}/Plantel/{{jugador.foto}}" class="media-object" alt="Imagen No Disponible">
							</div>
							<div class="media-body" id="plantel">
								<h4 class="media-heading">{{jugador.apellido}}, {{jugador.nombre}}</h4>
								<p>Fecha de Naciemiento: {{jugador.fechaNacimiento}} <br>
								Peso: {{jugador.peso}} <br>
								Altura: {{jugador.altura}} <br>
								Edad: {{jugador.edad}} <br>
								Numero de Camiseta: {{jugador.numeroCamiseta}} <br>
								Pie Habil: {{jugador.pieHabil}} <br>
								Posicion: {{jugador.posicion}}</p>
							</div>
							<div class="media-right media-top">
								<button type="button" class="btn close" aria-label="Eliminar" data-toggle="modal" data-idE="{{equipo._id}}" data-idJ="{{jugador._id}}" href="#modalEliminarJugador">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div>
								<a href="./equipos/formModificarJugador/{{equipo._id}}/{{jugador._id}}" id="btnModificarInformacion" class="btn btn-warning btn-md">Modificar Informacion</a>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="media-right media-top">
						<button type="button" class="btn close" aria-label="Eliminar" data-toggle="modal" data-id="{{equipo._id}}" href="#modalEliminarEquipo">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				<div>
					<a href="./equipos/formNuevoJugador/{{equipo._id}}" id="btnAgregarJugador" class="btn btn-success btn-lg">Agregar Jugador</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div> 

<div class="modal" id="modalAgregarEquipo" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2 class="modal-title text-center" id="ModalCenterTitle">Nuevo Equipo</h2>
			</div>
			<form method="POST" action="./equipos/nuevoEquipo" enctype="multipart/form-data">
				<div class="modal-body">
					{{ csrf_field() }}
					<div class="form-group">
						<label for="equipoNuevo">Nombre del Equipo:</label>
						<input type="text" class="form-control" placeholder="Nombre del Equipo" name="equipoNuevo">        		
					</div>
					<div class="form-group">
						<label for="escudo">Escudo:</label>
						<input type="file" class="form-control-file" id="escudo" name="escudo">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal" id="modalEliminarEquipo" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2 class="modal-title text-center" id="ModalCenterTitle">Advertencia</h2>
			</div>
			<div class="modal-body">
				<h3>Eliminar un equipo implica que tambien serán eliminados todos sus jugadores.</h3>
				<h3>¿Está seguro que desea continuar?</h3>
			</div>
			<div class="modal-footer">
				<button type="button" id="cancelarModal" class="btn btn-warning col-md-2" data-dismiss="modal">Cancelar</button>
				<form method="POST" action="./equipos/eliminarEquipo" clas="col-md-2">
					{{ csrf_field() }}
					<input type="hidden" id="hiddenConfirmarEquipo" name="IDEquipo" value="#">
					<button type="submit" class="btn btn-success">Confirmar</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modalEliminarJugador" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2 class="modal-title text-center" id="ModalCenterTitle">Advertencia</h2>
			</div>
			<div class="modal-body">
				<h3>Esta a punto de eliminar todos los datos de un jugador.</h3>
				<h3>¿Está seguro que desea continuar?</h3>
			</div>
			<div class="modal-footer">
				<button type="button" id="cancelarModal" class="btn btn-warning col-md-2" data-dismiss="modal">Cancelar</button>
				<form method="POST" action="./equipos/eliminarJugador" class="col-md-2">
					{{ csrf_field() }}
					<input type="hidden" id="hiddenConfirmarJugadorEquipo" name="IDEquipo" value="#">
					<input type="hidden" id="hiddenConfirmarJugador" name="IDJugador" value="#">
					<button type="submit" class="btn btn-success">Confirmar</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ asset('js/equipos.js') }}"></script>
{% endblock %}
