{% extends 'layout.twig' %}

{% block body %}
<div>
	<div class="panel">
		<div>
			<button type="button" class="btn btn-success btn-lg" data-toggle="modal" href="#modalAgregarEquipo">Agregar Equipo</button>
		</div>
	</div>
	<div>
		{% for equipo in equipos %}
			<div class="media">
				<div class="media-left media-top">
					<img src="images/{{equipo.nombre}}/{{equipo.escudo}}" class="media-object">
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{equipo.nombre}}</h4>

					{% for jugador in equipo.plantel %}
						<div class="media">
							<div class="media-left media-middle">
								<img src="images/{{equipo.nombre}}/Plantel/{{jugador.foto}}" class="media-object">
							</div>
							<div class="media-body">
								<h4 class="media-heading">{{jugador.apellido}}, {{jugador.nombre}}</h4>
								<p>Fecha de Naciemiento: {{jugador.fechaNacimiento}} <br>
								Peso: {{jugador.peso}} <br>
								Altura: {{jugador.altura}} <br>
								Edad: {{jugador.edad}} <br>
								Numero de Camiseta: {{jugador.numeroCamiseta}} <br>
								Pie Habil: {{jugador.pieHabil}} <br>
								Posicion: {{jugador.posicion}}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="modal" id="modalAgregarEquipo" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2 class="modal-title text-center" id="ModalCenterTitle">Nuevo Equipo</h2>
			</div>
			<form method="POST" action="./equipos/nuevoEquipo">
				<div class="modal-body">
					{{ csrf_field() }}
					<div class="form-group">
						<label for="equipoNuevo">Nombre del Equipo:</label>
						<input type="text" class="form-control" placeholder="Nombre del Equipo" name="equipoNuevo">        		
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary" id="btnAgregarEquipo">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
