{% extends 'layout.twig' %}

{% block body %}
<div>
	<img id="logoFixture" src="images/Titulos/fixture.png" alt="Imagen No Disponible">
	<div class="panel" id="fixture">
		<div>
			<form method="POST" action="./fixture/agregarFecha">
				{{ csrf_field() }}
				<button type="submit" id="btnAgregarFecha" class="btn btn-success btn-lg">Agregar Fecha</button>
			</form>
			<a href="./fixture/formModificarEditores" id="btnModificarEditores" class="btn btn-warning btn-lg">Modificar Editores</a>
		</div>
		{% if app.session.has('flash_message') %}
			<div class="alert alert-success alert-block">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>	
				<strong>{{ app.session.get('flash_message') }}</strong>
			</div>
		{% endif %}
		{% if app.session.has('flash_message_error') %}
			<div class="alert alert-danger alert-block">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>	
				<strong>{{ app.session.get('flash_message_error') }}</strong>
			</div>
		{% endif %}
		{% for fecha in fechas %}
		<div class="panel panel-info fixture">
			<div class="panel-heading">
				<p> Fecha {{ loop.index }} </p>
			</div>
			<div class="panel-body">
				{% for partido in fecha.partidos %}
				<div class = "partidoFechaFixture col-sm-12">
					<p>{{ partido.nombreEquipoLocal }} - {{partido.nombreEquipoVisitante }}</p>
				</div>
				<div>
					<a href="./fixture/formModificarPartido/{{partido._id}}" class="btn btn-info col-md-6">Modificar</a>
					<button type="button" href="#modalEliminarPartido" data-toggle="modal" data-idfecha="{{fecha._id}}" data-idpartido="{{partido._id}}" class="btn btn-danger col-md-4" style="margin-left: 50px">Eliminar</button>			
				</div>
				{% endfor %}
				<div>
					<a href="./fixture/formNuevoPartido/{{fecha._id}}" id="btnAgregarPartido" class="btn btn-primary btn-lg col-sm-12">Agregar Partido</a>
				</div>
				<div>
					<button type="button" id="btnEliminarFecha" class="btn btn-danger btn-lg col-sm-12" href="#modalEliminarFecha" data-toggle="modal" data-idfecha="{{fecha._id}}">Eliminar Fecha</button>
				</div>
			</div>

		</div>
		{% endfor %}
	</div>
</div>

<div class="modal" id="modalEliminarPartido" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2 class="modal-title text-center" id="ModalCenterTitle">Advertencia</h2>
			</div>
			<div class="modal-body">
				<h3>Esta a punto de eliminar un partido.</h3>
				<h3>¿Está seguro que desea continuar?</h3>
			</div>
			<div class="modal-footer">
				<button type="button" id="cancelarModal" class="btn btn-warning col-md-2" data-dismiss="modal">Cancelar</button>
				<form method="POST" action="./fixture/eliminarPartido" class="col-md-2">
					{{ csrf_field() }}
					<input type="hidden" id="hiddenEliminarPartido" name="IDPartido" value="#">
					<input type="hidden" id="hiddenEliminarPartidoFecha" name="IDFecha" value="#">
					<button type="submit" class="btn btn-success">Confirmar</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modalEliminarFecha" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2 class="modal-title text-center" id="ModalCenterTitle">Advertencia</h2>
			</div>
			<div class="modal-body">
				<h3>Esta a punto de eliminar un fecha, esto implicaría eliminar todos sus partidos.</h3>
				<h3>¿Está seguro que desea continuar?</h3>
			</div>
			<div class="modal-footer">
				<button type="button" id="cancelarModal" class="btn btn-warning col-md-2" data-dismiss="modal">Cancelar</button>
				<form method="POST" action="./fixture/eliminarFecha" class="col-md-2">
					{{ csrf_field() }}
					<input type="hidden" id="hiddenEliminarFecha" name="IDFecha" value="#">
					<button type="submit" class="btn btn-success">Confirmar</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ asset('js/fixture.js') }}"></script>
{% endblock %}
